/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #000000;
	--ifm-color-primary-dark: #5a5a5a;
	--ifm-color-primary-darker: #b6a9a9;
	--ifm-color-primary-darkest: #d8d2d2;
	--ifm-color-primary-light: #8a8a8a;
	--ifm-color-primary-lighter: #a0a0a0;
	--ifm-color-primary-lightest: #b8b8b8;
	/* --ifm-footer-background-color: #2e2e2e; */
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
	--ifm-color-primary: #b0b0b0;
	--ifm-color-primary-dark: #a0a0a0;
	--ifm-color-primary-darker: #909090;
	--ifm-color-primary-darkest: #808080;
	--ifm-color-primary-light: #c0c0c0;
	--ifm-color-primary-lighter: #d0d0d0;
	--ifm-color-primary-lightest: #e0e0e0;
}
